html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    height: 100vh;
    width: 100vw;
    font-family: "Nunito Sans", sans-serif;
}
.container{
    width: 100vw;
    min-height: 100vh;
    /* height: auto; */
}

.dark-container{
    background-color:  hsl(207, 26%, 17%);
    color: white;
    z-index: -1;
}
.header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6rem;
    background-color: #FBFAFD;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header-dark{
    background-color: hsl(209, 23%, 22%);
}
.header-div{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-div h1{
    font-weight: 800;
    font-size: 2rem;
}

.header-div i{
    margin: 0.4rem;
}


.filter{
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-div{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 57%;
    align-self: flex-end;
}

.filter-div-dark div{
    background-color: hsl(209, 23%, 22%);
}
.filter-div-dark .dropdown .dropdown-menu{
    background-color: hsl(209, 23%, 22%);
}


.search{
    width: 30%;
    display: flex;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#search-dark{
    background-color: hsl(209, 23%, 22%);
    color: white;
}
#search-dark input{
    color: white;
    background-color: hsl(209, 23%, 22%);
}
#search-dark input::placeholder{
    color: white;
}
#search-dark i{
    color: white;
}

.search i{
    font-size: 1.5rem;
    color: grey;
    margin-left: 2rem;
}

.search input{
    height: 2rem;
    width: 70%;
    font-size: 1rem;
    margin-left: 1.5rem;
    border: none;
    outline: none;
}


.dropdown{
    width: 17%;
    cursor: pointer;
}

.dropdown-icon{
    border: none;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 7px;  
    outline: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#region-dropdown{
    height: auto;
    max-height: 15rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
#region-dropdown li{
    margin-top: 1rem;
}
.dropdown-menu{
    height: 11rem;
    position: relative;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 7px;
    outline: none;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.dropdown-menu li{
    cursor: pointer;
}
.country-data{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.country{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* z-index: -1000; */
    /* background-color: white; */
}

.country-dark .display{
    background-color: hsl(209, 23%, 22%);
}

.display{
    width: 80%;
    height: 22rem;
    margin-top: 4rem;
    margin-left: 2.1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;    
    cursor: pointer;
}

.img-div{
    width: 100%;
    height: 50%;
    overflow: hidden;
    border-radius: 10px 10px  0 0;    
}
.img-div img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.details-div{
    height: 50%;
}

.details{
    height: 73%;
    width: 82%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.official-name{
    height: 25%;
    width: 110%;
    font-size: 1rem;
    font-weight: 800;
}

.text{
    font-weight: bold;
    /* font-size: 1rem; */
}

.text-div{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}


.spin {
    width: 30px;
    height: 30px;
    margin: 100px auto;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #1a73e8;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spin-text {
    text-align: center;
}

.nothing{
    position: relative;
    left: 35rem;
    top: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
}
.dark-mode{
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
}


.btn-div{
    background-color: white;
    height: 3rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.btn-div p{
    margin-left: 0.5rem;

}


.btn{
    border: none;
    background-color: white;
}

.per-country{
    height: 30rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.country-detail{
    height: 75%;
    display: flex;
    justify-content: space-between;
}

.c-img-div{
    height: 100%;
    width: 40%;
}

.country-detail img{
    width: 100%;
    height: 100%;
}

.c-div-details{
    width: 50%;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c-div-details h2{
    font-size: 2rem;
    font-weight: 800;
}

.extra-details{
    width: 95%;
    display: flex; 
    justify-content: space-between;
}
.extra-details p{
    font-weight: 700;
    color:  hsl(209, 23%, 22%);
}
.extra-details-dark p{
    color:  white;
}
.extra-details p span{
    font-weight: 400;
}

.extra-details-left{
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.extra-details-right{
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-div-dark{
    background-color: hsl(209, 23%, 22%);
}

.border-div {
    display: flex;
    align-items: center;
}

.border-span{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0.7rem;
    max-width: max-content;
    gap: 0.5rem;
    /* margin-top: 2rem; */
    width: 80%;
    height: 2rem;
}
.border-text{
    font-weight: 600;
    width: fit-content;
    width: 22%;
}

.border-span span{
    width: 6rem;
    height: 2rem;
    font-size: 0.85rem;
}
strong{
    display: flex;
    align-items: center;
}

@media screen and (max-width:375px) {
    .country{
        
        grid-template-columns: repeat(1, 1fr);
    }


    .filter{
        height: 20rem;
    }
    .filter-div {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 93%;
        align-self: flex-end;
        flex-wrap: wrap;
    }
    .search {
        width: 100%;
        height: 3rem;
    }

    .dropdown {
        width: 46%;
        height: 4rem;
        cursor: pointer;
    }

    .per-country{
        padding: 2rem;
        height: 40rem;
    }

    .country-detail {
        flex-direction: column;
        height: 85%;
    }

    .c-img-div {
        width: 100%;
    }

    .c-div-details {
        width: 100%;
        padding: 2rem 0 0 0;
        height: 36rem;
    }
    .extra-details{
        font-size: 0.8rem;
    }
    .border-div{
        font-size: 0.8rem;
    }
}